<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>123</title>
</head>
<body>
	<form method="post" action="{:url('index/inser')}">
		<input type="text" name="name" value="{$Think.session.data.name}">
		{$Think.session.err.name}<br/>
		<input type="password" name="passwd" value="{$Think.session.data.passwd}">
		{$Think.session.err.passwd}<br/>
		<input type="text" name="email" value="{$Think.session.data.email}">
		{$Think.session.err.email}<br/>
		<input type="submit" name="">
	</form>
</body>
</html>